/* Rubik Font */

@font-face {
    font-family: 'Rubik-Light';
    src: url(./fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url(./fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url(./fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url(./fonts/Rubik/Rubik-Medium.ttf);
}


/*Cornerstone Fonts 

@font-face {
    font-family: 'Cornerstone';
    src: url(./fonts/Cornerstone/Cornerstone.ttf);
}*/


/*SFCompactRounded Fonts*/


/*@font-face {
    font-family: 'SF-Compact-Rounded-Bold';
    src: url(./fonts/SFCompactRounded/SF-Compact-Rounded-Bold.ttf);
}
@font-face {
    font-family: 'SF-Compact-Rounded-Light';
    src: url(./fonts/SFCompactRounded/SF-Compact-Rounded-Light.ttf);
}
@font-face {
    font-family: 'SF-Compact-Rounded-Regular';
    src: url(./fonts/SFCompactRounded/SF-Compact-Rounded-Regular.ttf);
}
@font-face {
    font-family: 'SF-Compact-Rounded-Medium';
    src: url(./fonts/SFCompactRounded/SF-Compact-Rounded-Medium.ttf);
}*/


/*SFProText Fonts*/

@font-face {
    font-family: 'SFProText-Bold';
    src: url(./fonts/SFProText/SFProText-Bold.ttf);
}

@font-face {
    font-family: 'SFProText-Semibold';
    src: url(./fonts/SFProText/SFProText-Semibold.ttf);
}

@font-face {
    font-family: 'SFProText-Light';
    src: url(./fonts/SFProText/SFProText-Light.ttf);
}

@font-face {
    font-family: 'SFProText-Medium';
    src: url(./fonts/SFProText/SFProText-Medium.ttf);
}

@font-face {
    font-family: 'SFProText-Regular';
    src: url(./fonts/SFProText/SFProText-Regular.ttf);
}


/*lato Fonts */

@font-face {
    font-family: 'Lato-Heavy';
    src: url(./fonts/lato/Lato-Heavy.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(./fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(./fonts/lato/Lato-Regular.ttf);
}


/*SFProDisplay Fonts */

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url(./fonts/SFProDisplay/SFProDisplay-Regular.ttf);
}


/* Silom font */

@font-face {
    font-family: 'SilomBol';
    src: url(./fonts/Silom/SilomBol.ttf);
}


/* PlayfairDisplay font */

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(./fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
}